
{{#partial "contenido"}}
        <form method="POST" action="/usuario/altaConfirm">
            <div class="form-group">
                <label for="nombre">Esta seguro en dar de alta este dispositivo?</label>
            </div>>
            <input class="btn btn-primary btn-alta" type="submit" value="Alta">

        </form>

{{/partial}}

{{>home/usuario.hbs}}