
{{#partial "contenido"}}

    {{#with dispositivo}}
        <form method="POST" action="/usuario/dispositivo/bajar">
            <div class="form-group">
                <label for="nombre">Esta seguro en eliminar este dispositivo?</label>
            </div>>
            <input class="btn btn-primary btn-bajar" type="submit" value="Bajar">


        </form>

    {{/with}}
{{/partial}}

{{>layout.hbs}}