{{#partial "contenido"}}
    <form method="GET" action="/usuario/consumoUltimoPeriodo">
            <h4> Consumo del ultimo periodo de entre todos los dispositivos inteligentes </h4>
        <label for="consumoUltimoPeriodo"> <strong> <font size="4"> {{consumoUltimoPeriodo}}  </font> </strong> &nbsp &nbsp &nbsp &nbsp </label>


    </form>
{{/partial}}

{{>home/usuario.hbs}}
