
{{#partial "contenido"}}

    {{#with dispositivo}}
        <form method="POST" action="/usuario/dispositivo/modificar">
            <div class="form-group">
                <label for="nombre">Equipo</label>
                <input type="text" name="nombre"/>  </div>
            <div class="form-group">
                <label for="equipoConcreto">Detalle</label>
                <input type="text" name="equipoConcreto"/>  </div>
            <div class="form-group">
                <label for="consumoEstimadoPorHora">Consumo (KwH)</label>
                <input type="text" name="consumoEstimadoPorHora"/>  </div>
            <input class="btn btn-primary btn-modificar" type="submit" value="Modificar" href="/usuario"}>


        </form>

    {{/with}}
{{/partial}}

{{>home/usuario.hbs}}