{{#partial "contenido"}}

    {{#with dispositivo}}
        <form method="POST" action="/usuario/dispositivo/modificar">
            <input class="btn btn-primary btn-modificar" type="submit" value="CorrerSimplex" href="/usuario"}>
       </form>

    {{/with}}
{{/partial}}