{{#partial "contenido"}}
    <form method="POST" action="/usuario/realizarRecomendacion">
            <h4> Desea realizar la recomendacion del hogar? </h4>

            <input class="btn btn-primary btn-confirmar" type="submit" value="Confirmar"}>

    </form>
{{/partial}}

{{>home/usuario.hbs}}
