{{#partial "contenido"}}


    <form method="POST" action="/usuario/resConsumoPeriodo" align="left">
        <div class="form-group">
            <label for="consumoDelPeriodo"> <strong> <font size="4"> Consumo del periodo del cliente  </font> </strong> &nbsp &nbsp &nbsp &nbsp </label>
            <label for="ConsumoHogar"> <strong> <font size="4"> {{consumoHogar}}  </font> </strong> &nbsp &nbsp &nbsp &nbsp </label>
        </div>

    </form>
{{/partial}}

{{>home/usuario.hbs}}
