{{#partial "contenido"}}
    <form method="GET" action="/usuario/realizarRecomendacion">
    <h4> La recomendacion fue aplicada con exito </h4>      
    <a class="btn btn-info btn-info" role="button" href="/usuario"> Genial! </a>

    </form>
{{/partial}}

{{>home/usuario.hbs}}
