{{#partial "contenido"}}
    <form method="GET" action="/usuario/realizarRecomendacion">
            <h4> Recomendacion del hogar aplicado en los dispositivos del cliente </h4>

    </form>
{{/partial}}

{{>home/usuario.hbs}}
