{{#partial "contenido"}}
    <form method="GET" action="/usuario/realizarRecomendacion">
        <h4>Dispositivos apagados despues de aplicar la recomendacion</h4>
        <br>
        <table class="table table-stripped">
            <tr>
                <th>Equipo</th>
                <th>Detalle</th>
                <th>Consumo (KwH)</th>

            </tr>

            {{#each dispositivosApagados}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{equipoConcreto}}</td>
                    <td>{{consumoEstimadoPorHora}}</td>

                </tr>
            {{/each}}
        </table>
    </form>
    
    <a class="btn btn-info" href="/usuario"> Genial! </a>
    
{{/partial}}

{{>home/usuario.hbs}}
