{{#partial "sinconsumos"}}

<br>
<label class="alert alert-danger alert-dismissible fade in">
    <a href="/usuario/dispositivo" class="close" data-dismiss="alert"> &times </a>
  Aun no posee consumos registrados
</div>
{{/partial}}
{{>usuario/consumos.hbs}}