{{#partial "contenido"}}
    <h1 align="center">Dispositivos disponibles para dar de alta</h1>
	<br>
	<br>
    <table class="table table-stripped">
        <tr>
            <th>Equipo</th>
            <th>Detalle</th>
            <th>Consumo (KwH)</th>
            <th>Accion</th>
        </tr>

        {{#each dispositivos}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{equipoConcreto}}</td>
                <td>{{consumoEstimadoPorHora}}</td>
                <td><a href="/usuario/altaConfirm/{{id}}">Dar de alta</a><td>
            </tr>
        {{/each}}
    </table>
{{/partial}}

{{>home/usuario.hbs}}
