{{#partial "contenido"}}
<br>
    <h1>Hogares conectados a la red</h1>

    <table class="table table-stripped">
        <tr>
            <th>Titular del servicio</th>
            <th>Ver consumos</th>
        </tr>
        
        {{#each hogares}}
        	<tr>
        		<td>{{apellido}}, &nbsp{{nombre}}</td>
        		<td> <a href="/admin/hogares/consumo/{{id}}"> Consumos </td></a>
        	</tr>
        {{/each}}	
    </table>
    <br>
    <p> Mostrando primeros <font color="highlight"> {{cant}} </font> resultados </p>
    
    <form class="form-inline" method=GET action="/admin/hogares/searchresults">
	    <div class="form-group">
		    <label for="apellido"> Aun no encuentra el hogar que busca? Ingrese el apellido del titular del servicio:  </label>
		    &nbsp &nbsp
		    <input type="text" name="apellido" required>
		    <button class="btn-btn primary" type="submit"> Buscar </button>
	    </div>
    </form>

{{/partial}}

{{>admin/adminBase.hbs}}
