{{#partial "alerta"}}

<br>
<label class="alert alert-danger alert-dismissible fade in">
    <a href="/admin/reportes" class="close" data-dismiss="alert">&times;</a>
  El reporte seleccionado no se encuentra disponible en el momento. Por favor, reintente a la brevedad.
</div>
{{/partial}}
{{>admin/reportes.hbs}}