{{#partial "noresultsfound"}}

<br>
<label class="alert alert-danger alert-dismissible fade in">
    <a href="/admin/reportes" class="close" data-dismiss="alert">&times;</a>
  No se encontraron clientes que coincidan con la busqueda.
</label>
{{/partial}}
{{>admin/reporteDatos.hbs}}