{{#partial "contenido"}}

	<style>
		
		input {
			
			margin-right:16px;
		}
		
	</style>
	
	<h1> <color="Red"> Seleccion de hogar </color> </h1>
		<br>
	<h5> Para filtrar los resultados, pruebe utilizando uno o todos los filtros de busqueda </h5> 
		<br>
	
	<form class="form-inline" method=POST action="/admin/reportes/filter/hogares" align="left">
		<div class="form-group">
			<label for="nombre"> Nombre del titular </label>
			<input type="text" name="nombre"> <br>
		</div> 
	
		<div class="form-group">
			<label for="apellido"> Apellido del titular </label>
			<input type="text" name="apellido"> <br>
		</div>
		
		<div class="form-group">
			<label for="calle"> Calle del hogar </label>
			<input type="text" name="calle"> <br>
		</div>
	
		<button class= "btn btn-info" type="info"> Buscar </button> <br>
			<br>
			
		{{#block "noresultsfound"}} {{/block}}
	</form>
    
	{{/partial}}
	
{{>admin/adminBase.hbs}}
