{{#partial "sinconsumos"}}

<br>
<label class="alert alert-danger alert-dismissible fade in">
    <a href="/admin/hogares" class="close" data-dismiss="alert"> Regresar </a>
  El hogar no posee consumos registrados
</div>
{{/partial}}
{{>admin/consumo.hbs}}