<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Gestion energetica Administrador</a>
        </div>
        <div>
            <ul class="nav navbar-nav">


                <li><a href="/admin/logout">Logout</a></li>
                <
                <li><a href="/reportes">Reportes</a></li>
                >
                <
                <li><a href="/consultaConsumoPeriodo">Hogares</a></li>
                >
                <
                <li><a href="/ejecucionSimplex">Alta dispositivos genericos</a></li>
                >
                <
                <li><a href="/usuario/dispositivo">Ver dispositivos</a></li>
                >


            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {{#block "contenido"}}
    {{/block}}
</div>

</body>
</html>