{{#partial "alerta"}}

<br>
<label class="alert alert-danger alert-dismissible fade in">
    <a href="/" class="close" data-dismiss="alert">&times;</a>
  Usuario y/o password incorrectos
</div>
{{/partial}}
{{>home/login.hbs}}