<html>
<head>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"  href="main.css">
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"href="/">Gestion energetica</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/estadohogar">Estado Hogar</a></li>
                <li><a href="/estadohogar">Consulta consumo por periodo</a></li>
                <li><a href="/estadohogar">Ejecucion simplex y visualizacion de resultados</a></li>
                <li><a href="/estadohogar">ABM Reglas</a></li>
                <li><a href="/estadohogar">ABM Dispositivos</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {{#block "contenido"}}
    {{/block}}
</div>

</body>
</html>